<div class="container">

    <div class="wires"></div>

    <div class="trolley">
        <div class="horn right-horn"></div>
        <div class="horn left-horn"></div>
        <div class="window"></div>
        <div class="door"></div>
        <div class="door left-door"></div>
        <ul class="windows-list">
            <li class="windows-list__item"></li>
            <li class="windows-list__item"></li>
        </ul>
        <div class="windows-list__item ones_window"></div>
        <div class="wheel right-wheel"></div>
        <div class="wheel left-wheel"></div>
    </div>

    <div class="road">
        <ul class="white-stripes">
            <li class="white-stripe"></li>
            <li class="white-stripe"></li>
            <li class="white-stripe"></li>
            <li class="white-stripe"></li>
            <li class="white-stripe"></li>
            <li class="white-stripe"></li>
            <li class="white-stripe"></li>
            <li class="white-stripe"></li>
            <li class="white-stripe"></li>
        </ul>
    </div>
</div>