<div class="letters-container">

    <div class="letter-container M">
      <div class="recM1 recM rec"></div>
      <div class="recM2 recM rec"></div>
      <div class="recM3 recM rec smallRec"></div>
      <div class="recM4 recM rec smallRec"></div>
    </div>

    <div class="letter-container A1">
      <div class="recA1 recA rec"></div>
      <div class="recA2 recA rec"></div>
      <div class="recA3 recA rec smallRec"></div>
    </div>

    <div class="letter-container A2">
      <div class="recA1 recA rec"></div>
      <div class="recA2 recA rec"></div>
      <div class="recA3 recA rec smallRec"></div>
    </div>

</div>
